CompileFlags:
  Add:
   - "-I/home/ben/mambaforge/envs/tricycle/include"
   - "-I/home/ben/mambaforge/envs/tricycle/targets/x86_64-linux/include"
   - "-L/home/ben/mambaforge/envs/tricycle/targets/x86_64-linux/lib"
   - "-L/home/ben/mambaforge/envs/tricycle/targets/x86_64-linux/lib/stubs"
   - "-DNDEBUG"
   - "-O3"
   - "--use_fast_math"
   - "--restrict"
   - "-std=c++11"
   - "-DENABLE_FP32"
   - "-UENABLE_FP16"
   - "-UENABLE_BF16"
   - "-D__CUDA_NO_HALF_CONVERSIONS__"
   - "-Xcompiler"
   - "-fPIC"
   - "-I/home/ben/Documents/Tricycle/src/tricycle/cuda"
   - "-I/usr/lib/gcc/x86_64-linux-gnu/11/include"
   - "-I/usr/local/include"
   - "-I/usr/include/x86_64-linux-gnu"
   - "-I/usr/include"
   - "-I/home/ben/mambaforge/envs/tricycle/nsight-compute/2024.1.1/host/target-linux-x64/nvtx/include"
   - "-I/home/ben/mambaforge/envs/tricycle/include"
   - "--cuda-gpu-arch=sm_86"
